---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import { ArchitectureLayers } from '../components/ArchitectureLayers';
---

<Layout title="Smart Cushion | System Architecture">
	<Navbar client:load />
	
	<main class="relative h-screen overflow-hidden pt-20">
		
		{/* Phân tích 3 mô hình tiêu chuẩn 3-5-7 */}
		<ArchitectureLayers client:load />
		
	</main>
</Layout>
