---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import { Spotlight } from '@/components/ui/Spotlight';
---

<Layout title="Smart Cushion | AI-Powered Ergonomic Seating" bodyClass="h-screen overflow-hidden">
	<Navbar client:load />
	
	<main class="relative h-screen overflow-hidden">
		<Spotlight className="-top-40 left-0 md:left-60 md:-top-20" fill="white" />
		<Hero client:load />
	</main>
</Layout>

